<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="false">
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date %-5level [%logger{30}] - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="backup" class="drama.painter.core.web.log.CustomLogAppender"></appender>

    <root level="INFO">
        <appender-ref ref="backup"/>
    </root>

    <logger name="api" level="INFO">
        <appender-ref ref="console"/>
    </logger>

    <logger name="http" level="INFO">
        <appender-ref ref="console"/>
    </logger>

    <logger name="sql" level="DEBUG">
        <appender-ref ref="console"/>
    </logger>

    <logger name="org.springframework.boot.actuate.endpoint.EndpointId" level="ERROR"></logger>
    <logger name="com.netflix.config.sources.URLConfigurationSource" level="ERROR"></logger>
</configuration>
