<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8"/>
    <title>员工帐号管理</title>
    <meta content="width=device-width,initial-scale=1" name="viewport"/>
    <style type="text/css">
        .tag .el-tag {
           margin-right: 5px;
        }
    </style>
</head>
<body>
<div id="app">
    <!-- 导航栏 -->
    <el-breadcrumb class="pager" separator-class="el-icon-arrow-right">
        <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
        <el-breadcrumb-item>系统管理</el-breadcrumb-item>
        <el-breadcrumb-item>员工帐号管理</el-breadcrumb-item>
    </el-breadcrumb>
    <!-- 搜索功能 -->
    <div class="navigator">
        <el-select size="small" v-model="status" placeholder="帐号状态" clearable>
            <el-option :key="item.value" :label="item.name" :value="item.value" v-for="item in enums.status"></el-option>
        </el-select>
        <el-input class="input-with-select" placeholder="请输入内容" size="small" v-model="searchText">
            <el-select slot="prepend" v-model="searchType" clearable>
                <el-option label="帐号ID" value="1"></el-option>
                <el-option label="帐号名称" value="2"></el-option>
                <el-option label="帐号昵称" value="3"></el-option>
            </el-select>
            <el-button @click="btnSearchClick" icon="el-icon-search" slot="append"></el-button>
        </el-input>
        <div class="fr">
            <el-button @click="toAdd" icon="el-icon-plus" size="small" v-if="editQualify"></el-button>
            <el-button @click="search" icon="el-icon-refresh" size="small"></el-button>
        </div>
    </div>
    <!-- 表格 -->
    <el-table :border="true" :data="tableData" element-loading-spinner="el-icon-loading" element-loading-text="拼命加载中" size="mini" v-loading="loading">
        <el-table-column label="帐号ID" prop="id"></el-table-column>
        <el-table-column label="帐号名称" prop="name"></el-table-column>
        <el-table-column label="昵称" prop="alias">
            <template slot-scope="scope">
                <a :href="scope.row.avatar" target="_blank">
                    <img :src="scope.row.avatar" style="float: left; margin-right: 5px; max-width: 30px; max-height: 30px"/>
                </a>
                <label>{{ scope.row.alias }}</label>
            </template>
        </el-table-column>
        <el-table-column label="角色" prop="role" class-name="tag">
            <template slot-scope="scope">
                <el-tag size="medium" v-for="item in scope.row.role" type="danger">{{ upsert.toName(item) }}</el-tag>
            </template>
        </el-table-column>
        <el-table-column label="状态" prop="status">
            <template slot-scope="scope">
                <label :class="scope.row.status == enums.status.ENABLE.value ? '' : 'red'">{{ enums.status.getName(scope.row.status) }}</label>
            </template>
        </el-table-column>
        <el-table-column label="操作" v-if="editQualify || removeQualify">
            <template slot-scope="scope">
                <el-button-group>
                    <el-button @click="toEdit(scope.row)" icon="el-icon-edit" size="mini" v-if="editQualify"></el-button>
                    <el-button @click="toRemove(scope.row)" icon="el-icon-delete" size="mini" v-if="removeQualify"></el-button>
                </el-button-group>
            </template>
        </el-table-column>
    </el-table>
    <!-- 分页 -->
    <el-pagination :current-page="page" :page-size="15" :total="rowCount" @current-change="pageChanged" class="pager" layout="total, prev, pager, next" slot="paging"></el-pagination>
</div>
<!-- 添加删除帐号 -->
<div id="upsert">
    <el-dialog :title="dialogTitle" :visible.sync="dialogEnabled" width="480px">
        <el-form :model="staff" label-width="80px" ref="staff">
            <el-form-item :rules="[{ required: true, message: '请填写帐号名称', trigger: 'blur' }]" label="帐号名称" prop="name">
                <el-input :disabled="username_disabled" v-model="staff.name"></el-input>
            </el-form-item>
            <el-form-item label="帐号密码" prop="password">
                <el-input show-password v-model="staff.password"></el-input>
            </el-form-item>
            <el-form-item :rules="[{ required: true, message: '请填写帐号昵称', trigger: 'blur' }]" label="帐号昵称" prop="alias">
                <el-input v-model="staff.alias"></el-input>
            </el-form-item>
            <el-form-item label="帐号头像" prop="alias">
                <el-upload :before-upload="beforeUpload" :show-file-list="false" action="" class="avatar-uploader">
                    <img :src="staff.avatar" style="max-width: 100px; max-height: 100px" v-if="staff.avatar"/>
                    <i class="el-icon-plus avatar-uploader-icon" v-else></i>
                </el-upload>
            </el-form-item>
            <el-form-item label="帐号角色" prop="role">
                <el-select multiple v-model="staff.role" class="wide_select">
                    <el-option v-for="item in roles" :key="item.id" :label="item.name" :value="item.id"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item :rules="[{ required: true, message: '请选择状态', trigger: 'change' }]" label="状态" prop="status">
                <el-radio-group v-model="staff.status">
                    <el-radio-button :key="item.value" :label="item.value" v-for="item in enums.status">{{item.name}}</el-radio-button>
                </el-radio-group>
            </el-form-item>
        </el-form>
        <span class="dialog-footer" slot="footer">
            <el-button @click="dialogEnabled=false">取 消</el-button>
            <el-button @click="onSubmit('staff')" type="primary">确 定</el-button>
        </span>
    </el-dialog>
</div>
<script src="/js/util/core.js"></script>
<script>loadScript(["/js/util/md5.js", "staff.js"])</script>
</body>
</html>
